@font-face {
  font-family: "TASAOrbiter";
  src: url("fonts/TASAOrbiterVF.woff2") format("woff2");
}

@font-face {
  font-family: "TASAExplorer";
  src: url("fonts/TASAExplorerVF.woff2") format("woff2");
}

:root {
  --main-blue: rgb(0, 8, 255);
}

html {
  font-family: "TasaOrbiter";
  background-color: black;
  color: var(--main-blue);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
