@font-face {
  font-family: "TASAOrbiter";
  src: url("$fonts/TASAOrbiterVF.woff2") format("woff2");
}

@font-face {
  font-family: "TASAExplorer";
  src: url("$fonts/TASAExplorerVF.woff2") format("woff2");
}

:root {
  --main-blue: rgb(0, 8, 255);
  --blue-hover: rgb(0, 170, 255);
  --blue-active: rgb(0, 200, 255);
  --blue-disabled: rgb(0, 0, 100);
}

html {
  font-family: "TasaOrbiter", sans-serif;
  background-color: black;
  color: var(--main-blue);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  user-select: none;
}

button {
  all: unset;
  font-family: "TASAExplorer", sans-serif;
  background-color: var(--main-blue);
  color: black;
  text-align: center;
}

button:disabled {
  background-color: black;
  color: var(--blue-disabled);
}

button:active:not(:disabled) {
  background-color: var(--blue-active);
}

input {
  all: unset;
  border: 2px solid var(--main-blue);
  padding: 3px;
}

@media (hover: hover) {
  button:hover:not(:disabled, :active) {
    color: white;
    cursor: pointer;
    background-color: var(--blue-hover);
  }
}
