.end-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(0, 0, 0) 25%, rgba(50, 50, 50, 0.5));
}

.end-overlay-text {
  font-size: 10vw;
  text-align: center;
  font-weight: 600;
}

.end-overlay-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.end-overlay-buttons > button {
  font-size: 2vw;
  padding: 1% 0;
  width: 25vh;
  text-align: center;
  font-weight: 900;
}

@media all and (max-width: 600px) {
  .end-overlay {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: radial-gradient(circle, rgba(0, 0, 0) 30%, rgba(50, 50, 50, 0.5));
  }

  .end-overlay-placeholder {
    display: none;
  }

  .end-overlay-text {
    font-size: 20vw;
  }

  .end-overlay-buttons {
    height: unset;
  }

  .end-overlay-buttons > button {
    font-size: 8vw;
    width: 50vw;
  }
}
