.play-screen {
  display: grid;
  grid-template-areas:
    "opp pla"
    "opp log";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 2fr;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.play-screen > div {
  min-height: 0;
  min-width: 0;
}

.play-board-subtitle {
  font-size: 20px;
  font-weight: 600;
}

.play-opponent-board-contatiner {
  grid-area: opp;
}

.play-player-board-contatiner {
  grid-area: pla;
}

.play-menu-container {
  grid-area: log;
  height: 100%;
  display: flex;
  justify-content: center;
}
