.tile {
  user-select: none;
  aspect-ratio: 1/1;
  min-width: 0;
  min-height: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-tile {
  border: 2px solid white;
}

.coord-tile {
  font-size: 1.75em;
}

.tile-highlight {
  background-color: rgba(128, 128, 128, 0.75);
  cursor: pointer;
}

.tile-valid {
  background-color: rgba(0, 255, 0, 0.75);
  cursor: pointer;
}

.tile-invalid {
  background-color: rgba(255, 0, 0, 0.75);
}

.tile-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.tile-placed {
  background-color: gray;
}

.tile-hit {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0);
  font-weight: 900;
  font-size: 1em;
}

.tile-hit img {
  height: 80%;
  width: 80%;
}

.tile-data {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
