.board-setup {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.board-setup-board {
  display: flex;
  align-items: center;
  width: 40%;
}

.board-setup-side {
  height: 100%;
  max-width: 40%;
}
