.setup-menu {
  height: 100%;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 25px;
}

.setup-menu-title {
  text-align: end;
  font-weight: 900;
  font-size: 60px;
}

.setup-ready-btn {
  font-weight: 900;
  font-size: 2em;
  padding: 2em;
}
