.ship-selector {
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.ship-selector > div {
  width: 100%;
  text-align: end;
}

.ship-sel-title {
  font-size: 3rem;
  font-weight: 700;
}

.ship-sel-vertical {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75em;
  font-weight: 700;
}

.ship-sel-vertical > button {
  width: 200px;
  padding: 10px 0;
}

.ship-sel-opts {
  display: grid;
  gap: 10px;
}

.ship-sel-opt {
  padding: 5px;
  margin-left: auto;
  width: fit-content;
}

.ship-sel-dragged {
  background-color: var(--main-blue);
  color: white;
  font-weight: 600;
}

.ship-sel-placed {
  color: var(--blue-disabled);
}

@media (hover: hover) {
  .ship-sel-opt:hover:not(.ship-sel-placed) {
    cursor: grab;
    font-weight: 600;
    background-color: var(--main-blue);
    color: white;
  }
}
