.setup-menu {
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.setup-ready-btn {
  font-weight: 900;
  font-size: 2em;
  padding: 2em;
}
