.tile {
  user-select: none;
  aspect-ratio: 1/1;
  border: 2px solid white;
}

.tile-highlight {
  background-color: rgba(128, 128, 128, 0.75);
  cursor: pointer;
}

.tile-valid {
  background-color: rgba(0, 255, 0, 0.75);
  cursor: pointer;
}

.tile-invalid {
  background-color: rgba(255, 0, 0, 0.75);
}

.tile-overlay {
  height: 100%;
  width: 100%;
}

.tile-placed {
  background-color: gray;
}
